.educal {
    background: rgb(237, 238, 243);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1283px;
        padding: 35px 0;

        .logo {
            display: flex;

            img {
                width: 114px;
                height: 30px;
            }

            .category {
                position: relative;
                margin-left: 30px;
                padding-left: 30px;
                padding-top: 6px;

                svg {
                    width: 16px;
                    height: 16px;
                }

                span {
                    display: inline-block;
                    padding-top: 3px;
                    padding-left: 14px;
                    line-height: 1;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 57%;
                    left: 0px;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 40px;
                    background: rgb(201, 204, 212);
                }

                .sub-menu {
                    display: none;
                    position: absolute;
                    top: calc(100% + 30px);
                    left: 0px;
                    width: 200px;
                    padding: 17px 0px 15px;
                    background: rgb(255, 255, 255);
                    box-shadow: rgba(8, 0, 42, 0.08) 0px 10px 20px;
                    border-radius: 4px;
                    z-index: 1;
                    transition: all 0.3s ease-out 0s;

                    li {
                        a {
                            display: block;
                            padding: 3px 30px;
                            text-transform: capitalize;
                            color: rgb(109, 110, 117);
                            font-weight: 500;

                            &:hover {
                                color: rgb(43, 78, 255);
                            }
                        }
                    }
                }
            }

            .category:hover .sub-menu {
                display: block;
            }
        }

        .menu {
            display: flex;
            margin-left: 44px;

            li {
                position: relative;
                margin-left: 30px;

                a {
                    font-size: 16px;
                    font-weight: 500;
                    color: rgb(14, 17, 51);
                    padding: 35px 0px;
                    text-transform: capitalize;
                    transition: all 0.3s ease-out 0s;

                    i {
                        font-size: 10px;
                    }

                    &:hover {
                        color: rgb(13, 110, 253);
                    }
                }

                .sub-menu {
                    display: none;
                    position: absolute;
                    top: 120%;
                    left: 0px;
                    width: 200px;
                    background: rgb(255, 255, 255);
                    color: #000;
                    transition: all 0.3s ease-out 0s;
                    box-shadow: rgba(11, 6, 70, 0.08) 0px 30px 70px;

                    li {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        transition: all 0.3s ease-out 0s;
                        margin-left: 0;

                        a {
                            display: block;
                            font-size: 13px;
                            color: rgb(14, 17, 51);
                            padding: 10px 25px;
                        }
                    }
                }

                &:hover .sub-menu {
                    display: block;
                }
            }

        }

        form {
            position: relative;

            .fa-magnifying-glass {
                position: absolute;
                top: 19px;
                left: 24px;
            }

            input {
                width: 280px;
                height: 50px;
                line-height: 20px;
                border-radius: 4px;
                background: rgb(255, 255, 255);
                outline: none;
                border: 1px solid rgb(255, 255, 255);
                font-size: 16px;
                padding: 25px 65px 20px 55px;
            }

            .fa-cart-shopping {
                position: absolute;
                left: 55%;
                top: 17px;

                &::after {
                    content: "";
                    position: absolute;
                    top: -7px;
                    left: -16px;
                    width: 2px;
                    height: 30px;
                    background: rgb(219, 223, 233);
                }
            }

            button {
                display: inline-block;
                height: 50px;
                text-align: center;
                padding: 0px 25px;
                color: rgb(255, 255, 255);
                background: rgb(43, 78, 255);
                border-radius: 4px;
                border: none;
                font-size: 16px;
                font-weight: 500;
                transition: all 0.3s ease-out 0s;
                cursor: pointer;
                margin-left: 20px;
            }
        }

    }
}